@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Vazirmatn', sans-serif;
  --font-heading: 'Vazirmatn', sans-serif;
  --font-body: 'Vazirmatn', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    @apply text-base font-normal text-default antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading);
    @apply text-highlighted tracking-tight;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold leading-snug;
  }

  h2 {
    @apply text-xl sm:text-2xl md:text-3xl font-semibold leading-snug;
  }

  h3 {
    @apply text-lg sm:text-xl font-medium leading-snug;
  }

  h4 {
    @apply text-base sm:text-lg font-medium leading-snug;
  }

  p {
    font-family: var(--font-body);
    @apply text-sm sm:text-base font-normal text-muted leading-relaxed;
  }
}
